#!/bin/sh
#
# Author: John L. Carveth <johnc@roneymk.com>
# Subsystem file for express-proxy
# 
### BEGIN INIT INFO
# Provides:          node_debian_init
# Required-Start:    $remote_fs $named $syslog
# Required-Stop:     $remote_fs $named $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: DEBIAN initscript for node.js servers/apps
# Description:       express-proxy is a Node.js-based proxy server for redirecting
#                    HTTP requests from a different origin. Used to bypass browser
#                    CORS restrictions
### END INIT INFO

# Source function library
. /etc/rc.d/init.d/functions

# Pull in sysconfig settings
[ -f /etc/sysconfig/express-proxy] && . /etc/sysconfig/express-proxy

RETVAL=0
proc="express-proxy"
.
.
.

start () {
	echo -n $"Starting $prog:"
}


